

     <div class="container">

      <br><br>
      <div class="row col-md-12">

          <div class="col-md-8">
              <h4>
              Cadastro de Clientes
              </h4>
          </div>

          <div class="col-md-4" align="right">
              <button class="btn btn-success" (click)="addCliente()">
              Adicionar Cliente
              </button>
          </div>

      </div>

      <br>
      <div>


         <table class="table table-striped" *ngIf="clientes && clientes.length > 0">
              <thead>
                  <tr>
                      <th>Casado</th>
                      <th>Nome</th>
                      <th>Endereço</th>
                      <th>Data de Cadastro</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cliente of clientes, let index = index">
                      <td><input type="checkbox" [checked]="cliente.casado" (change)="checkedCasado(index)" /></td>
                      <td [ngClass]="{'casado': cliente.casado, 'nao-casado': !cliente.casado}">{{cliente.nome}}</td>
                      <td >{{cliente.endereco}}</td>
                      <td>{{cliente.dataMod.toDate() | date: 'dd/MM/yyyy' }}</td>
                      <td>
                        <div class="pd">
                          <button class="btn btn-primary" (click)="editarClick(cliente)">Editar</button>
                          <button class="btn btn-danger" (click)="deletarClick(cliente.id, index)">Deletar</button>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
